<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='styles/style.css')}}"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>
  </head>
  <body>
    <div class="content">
      <h1>Weather App</h1>
      <form action="#" , method="POST">
        <input type="text" name="city" placeholder="Enter city" />
        <button type="submit">Get Weather Info</button>
      </form>
    </div>
    <div class="content display">
      <ul>
        <li>
          <p class="color1">City</p>
          <p class="color4">{% if desc %}{{city}}{% endif %}</p>
        </li>
        <li>
          <p class="color2">Weather</p>
          <p class="color5">{% if desc %}{{desc}}{% endif %}</p>
        </li>
        <li>
          <p class="color3">Temp</p>
          <p class="color6">{% if desc %}{{temp}}{% endif %}</p>
        </li>
      </ul>
    </div>
  </body>
</html>
